# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# FastAPI / Alembic
alembic/__pycache__/
alembic/versions/__pycache__/

# Docker
*.log
docker-data/
postgres_data/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Tests / coverage
.coverage
htmlcov/
